<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>

  <body>
 
   
    <audio id="audio" autoplay> 
      <source src="assets\computer-keyboard-2.mp3">
      </audio>

<video  id="bgvid" playsinline autoplay muted loop>
    <!-- 
  - Video needs to be muted, since Chrome 66+ will not autoplay video with sound.
  WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
  <!--<source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">-->
  <source src="assets\video.mp4" type="video/mp4">
  
  </video>

  
    
  <div id="intro1">
    <br>
    <h1 style="color:lawngreen" class="line anim-typewriter">Software Engineer<img height="30" width="30" src="assets/software_icon.png"></h1>
    <br>
    <h1 style="color:lawngreen" class="line anim-typewriter1">Angular Developer<img height="30" width="30" src="favicon.ico"></h1>
    <br>
    <h1 style="color:lawngreen" class="line anim-typewriter2">Xamarin Forms Developer<img height="30" width="30" src="assets/xamarin_icon.png"></h1>
    <br>
    <h1 style="color:lawngreen" class="line anim-typewriter3">ASP.NET Core Developer<img height="30" width="30" src="assets/dotnet_core.png"></h1>
    <br>
    <h1 style="color:lawngreen" class="line anim-typewriter4">DB Systems Manager<img height="30" width="30" src="assets/db_icon.png"></h1>
    <br>
    <!--<button (click)="onClick();">Pause</button>-->
    <br>
   
  </div>

  <div id="intro3">
    <br>
    <h1 style="color:lawngreen" class="line anim-typewriter5">Microsoft Azure<img height="30" width="30" src="assets/azure_logo.png"></h1>
    <br>
    <h1 style="color:lawngreen" class="line anim-typewriter6">Amazon Web Services<img height="30" width="30" src="assets/aws_icon.png"></h1>
    <br>
    <h1 style="color:lawngreen" class="line anim-typewriter7">Cloud Computing<img height="30" width="30" src="assets/cloud_computing_icon.png"></h1>
    <br>
    <h1 style="color:lawngreen" class="line anim-typewriter8">Data Science<img height="30" width="30" src="assets/data_science_icon.png"></h1>
    <br>
    <h1 style="color:lawngreen" class="line anim-typewriter9">Problem Solving<img height="30" width="30" src="assets/problem_solving_logo.png"></h1>
    <!--<button (click)="onClick();">Pause</button>-->
    <br>
 
  </div>
  

  <div id="intro2">
    <h1 style="color:lawngreen" class="line anim-typewriter10">C#<img height="30" width="30" src="assets/CSharp_logo.png"></h1>
    <br>
    <h1 style="color:lawngreen" class="line anim-typewriter11">HTML5<img height="30" width="30" src="assets/HTML5_icon.png"></h1>
    <br>
    <h1 style="color:lawngreen" class="line anim-typewriter12">CSS3<img height="30" width="30" src="assets/CSS3_icon.png"></h1>
    <br>
    <h1 style="color:lawngreen" class="line anim-typewriter13">TypeScript<img height="30" width="30" src="assets/typescript_icon.png"></h1>
    <br>
    <h1 style="color:lawngreen" class="line anim-typewriter14">JavaScript<img height="30" width="30" src="assets/javascript_logo.png"></h1>
    <br>
    <h1 style="color:lawngreen" class="line anim-typewriter15">SQL<img height="30" width="30" src="assets/sql_logo.png"></h1>
    <br>
    <!--<button (click)="onClick();">Pause</button>-->
    <br>
 
  </div>

  

<p id="media_copyright">Video by Pressmaster from Pexels
  <br>
  Keyboard sound effect from https://www.soundjay.com/
  <br>
  Pictures conversion from https://onlinepngtools.com/
</p>
</body>
  </html>
  


  <script>

  </script>