<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />



</head>
<body>
    <header class="header">
      <div class="logo-box">
        <a target="_blank" href="https://www.novencia.com/">
            <img src="assets\novencia.png" alt="logo" class="logo" />
          </a>
      </div>
      <div class="text-box">
        <h1 class="heading-primary">
          <br>
          <br>
          <br>
          <br>
          <span class="heading-primary-main">2b || !2b</span>
          <br>
          <span class="heading-primary-sub">That is the question.</span>
        </h1>
        <a href="#" class="btn btn-white btn-animated">
          Who am I ?
        </a>
      </div>
    </header>

</body>
</html>

