<br>
<div class="container" style="Padding: 4rem">
    <div class="row" style="Padding: 1rem">
        <div class="col-2">Mars 2017
        </div>
        <div class="col-6">
            <ul>
                <li>Business Intelligence Analyst Mastery Award chez IBM Middle East and Africa. 
                </li>
            </ul>
        </div>
        <div class="col-4">
            <ul>
                <li>SESAME</li>
            </ul>
        </div>
    </div>

    <div class="row" style="Padding: 1rem">
        <div class="col-2">2007 à 2010
        </div>
        <div class="col-6">
            <ul>
                <li>Diplôme de Master en Informatique Appliquée à la Gestion
                </li>
            </ul>
        </div>
        <div class="col-4">
            <ul>
                <li>Institut Supérieur de Gestion de Tunis</li>
            </ul>
        </div>
    </div>

    <div class="row" style="Padding: 1rem">
        <div class="col-2">2003 à 2007
        </div>
        <div class="col-6">
            <ul>
                <li>Diplôme de Maîtrise en Informatique Appliquée à la Gestion
                </li>
            </ul>
        </div>
        <div class="col-4">
            <ul>
                <li>Institut Supérieur de Gestion de Tunis</li>
            </ul>
        </div>
    </div>

    <div class="row" style="Padding: 1rem">
        <div class="col-2">2002 à 2003
        </div>
        <div class="col-6">
            <ul>
                <li>Diplôme de Baccalauréat _ Section Mathématiques                  
                </li>
            </ul>
        </div>
        <div class="col-4">
            <ul>
                <li>Lycée Ibn Abi Dhiaf de La Manouba</li>
            </ul>
        </div>
    </div>
</div>
