<br>
<div class="container" style="Padding: 4rem">
    <div class="row">
        <div class="col-4">COMPÉTENCES TECHNIQUES
        </div>
        <div class="col-4">
            <ul>
                <li style="text-align:justify">C#, HTML5, CSS3, TypeScript, JavaScript, C++,
                Python, Java, Pascal, Assembleur, Prolog,
                UML.
                </li>
                <li style="text-align:justify">IIS</li>
                <li style="text-align:justify">Scrum, Kanban</li>
                <li style="text-align:justify">
                    <a target="_blank" href="https://www.youtube.com/watch?v=A66EZCg6uTo&list=PLakv8rKa2Li5o_Hqjzx1ztkygdeZKkzAg">Git</a>
                </li>
            </ul>
        </div>
        <div class="col-4">
            <ul>
                <li style="text-align:justify">ANGULAR 5+, Microsoft .NET, ASP .NET MVC5, ASP .NET Core MVC, ASP .NET Web API, Knockout.js.</li>
                <li style="text-align:justify">Oracle SQL, Microsoft SQL Server, PostgreSQL, SQLite, 
                    <a target="_blank" href="https://www.youtube.com/watch?v=N4MccoMEqa0&list=PLakv8rKa2Li4Nc2mmg9Gf0VG7uppFVTxU">MySQL</a>
                    <a>, </a>
                    <a target="_blank" href="https://www.youtube.com/watch?v=eJC0s-djTA0&t=2641s">Procédures et Fonctions Stockées</a>
                    <a>, </a>
                    <a target="_blank" href="https://www.youtube.com/watch?v=RYGKUPB2iME&list=PLakv8rKa2Li4Nc2mmg9Gf0VG7uppFVTxU&index=17">Triggers</a></li>
                <li style="text-align:justify">Xamarin Forms</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-4">COMPÉTENCES FONCTIONNELLES
        </div>
        <div class="col-4">
            <ul>
                <li style="text-align:justify">Remédier à des soucis conceptuels
                </li>
                <li style="text-align:justify">Prévoir des anomalies lors du test,</li>
                <li style="text-align:justify">Détecter des erreurs de fond et de forme dans les documentsrédigés</li>
            </ul>
        </div>
        <div class="col-4">
            <ul>
                <li style="text-align:justify">Fixer des bugs dans le code source,
                    </li>
                <li style="text-align:justify">Anticiper le déclanchement des erreurs lors
                    de la manipulation des applications,</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-4">Problem Solving
        </div>
        <div class="col-4">
            <ul>
                <li style="text-align:justify">Coding (Résolution des problèmes d'ordre algorithmique dans des plateformes de Online Judging)
                </li>
            </ul>
        </div>
    </div>
</div>


