<br>
<div class="container">
    <div class="row">
        <h4 style="text-align:justify">
            Je suis un consultant .NET pouvant gérer une équipe travaillant sous mon égide afin de mener un projet lors detoutes ses phases. Etant Team Leader, j'ai tant joué le rôle de modérateur et de planificateur dans les équipes dont j'étais le chef qui veille sur le bon déroulement des tâches tout au long du cycle de vie de tout produit logiciel dès son commencement et jusqu'à sa maintenance.
                Motivé mais aussi passionné du développement qu'il soit en Web, en Mobile ou en Desktop, je contribue remarquablement à la réalisation des travaux de développement et de test également afin de garantir la réussite du projet.
                Je sais pertinemment que la communication est la clé de réussite de tout projet donc je n'épargne aucun effort pour échanger avec les membres de mon équipe et je fais de mon mieux pour que tout le monde puisse parvenir à l'information.
                Je suis convaincu qu'il faudrait toujours aimer ce que l'on fait jusqu’à faire ce que l'on aime d'où d'ailleurs l'amour et la passion que je porte au développement.
                
        </h4>
    </div>
</div>